/* ==================== THEME CONSTANTS ==================== */
:root {
/* light theme
  --theme-background: #F5F5DC;
  --theme-borders: #FFCF9D;
  --theme-font-light: #004225;
  --theme-font-highlight: #FFB000;
  --theme-entry-field: #EEEEEE;
*/

/* dark theme
  --theme-background: #0F0E0E;
  --theme-borders: #541212;
  --theme-font-light: #EEEEEE;
  --theme-font-highlight: #8B9A46;
  --theme-entry-field: #444444;
*/

/* B & W theme*/
  --theme-background: #101010;
  --theme-borders: #222222;
  --theme-font-light: #AAAAAA;
  --theme-font-highlight: #CCCCCC;
  --theme-entry-field: #222222;


/* neon theme
  --theme-background: #1D2B53;
  --theme-borders: #7E2553;
  --theme-font-light: #FF004D;
  --theme-font-highlight: #FAEF5D;
  --theme-entry-field: #444444;
*/

/* summer theme
  --theme-background: #D9EDBF;
  --theme-borders: #FF9800;
  --theme-font-light: #2C7865;
  --theme-font-highlight: #90D26D;
  --theme-entry-field: #EEEEEE;
*/

/* summer theme2
  --theme-background: #B0C5A4;
  --theme-borders: #D37676;
  --theme-font-light: #EBC49F;
  --theme-font-highlight: #F1EF99;
  --theme-entry-field: #EEEEEE;
*/




  /* Fonts */
  --font-highlight: "Mali";
  --font-standard: "Kodchasan";

}


/* ==================== CLASSES ==================== */

.theme-background{
    background-color: var(--theme-background);
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    height:150%;
    z-index:-2;
}

.body{
    padding: 5rem 5%;
    text-align:center;
    position: relative;
    background-color: var(--theme-background);
}

/* BADGES */
.badges{
    margin: 1rem 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.badge-tile{
    background-color: var(--theme-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 .2rem;
}
@media (max-width: 1300px){
    .badge-subtitle{
        background-color: var(--theme-borders);
        display: block;
        border-style: solid;
        border-width: 2px;
        border-color: #000000;
        border-radius: 2rem;
        padding: .1rem .5rem;
        margin-top: 0.2rem;
    }
}
@media (min-width: 1301px){
    .badge-subtitle{
        display: none;
    }
}
@media (min-width: 901px){
    .badge-image{
        display: block;
        width: 7rem;
        height: 7rem;
        border-radius: 4rem;
        background-color: var(--theme-borders);
        padding: 0.2rem
        text-align: center;
    }
}
@media (max-width: 900px){
    .badge-image{
        display: none;
    }
}
.badge-image img{
    width: 5.5rem;
    margin-top: .75rem;
}

/* BORDERS */
.black-border{
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.theme-border{
    border-style: solid;
    border-width: 2px;
    border-color: var(--theme-borders);
    border-radius: 2rem;
    padding: 1.5rem;
}

/* CARDS */
.recipe-cards{
    /* outer container for search results */
    gap: 1rem;
}
@media (max-width: 550px){
    .recipe-card{
        width: 100%;
        height: 44rem;
    }
}
@media (min-width: 551px){
    .recipe-card{
        width: 40rem;
        height: 48rem;
    }
}
.recipe-card{
    display: inline-block;
    border-style: solid;
    border-width: 3px;
    border-color: #000000;
    border-radius: 2rem;
}
.recipe-card-image{
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border-radius: 2rem 2rem 0 0;
}
@media (max-width: 550px){
    .recipe-card-title{
        height: 7rem;
    }
}
@media (min-width: 551px){
    .recipe-card-title{
        height: 10rem;
    }
}
.recipe-card-title{
    border-style: solid;
    border-width: 3px 0;
    border-color: #000000;
}

@media (max-width: 550px){
    .recipe-card-data{
        height: 6rem;
    }
}
@media (min-width: 551px){
    .recipe-card-data{
        height: 7.5rem;
    }
}


/* EDITOR PAGES */
.editor-section{
    padding-top: 3%;

}
.editor-section-title{
    padding: 2rem;

}
.editor-section-message{
    height: 2rem;
    padding-bottom:3rem;
}

/* EMAIL RECIPE PAGE */
.email-submission-row{
    width: 100%;
    list-style-type: none;
    display : flex;
    align-items : center;
    justify-content: center;
}
.email-submission-field{
    display: inline-block;

}
.email-submission-field-label{
    padding: 2rem 1rem 0 2rem;

}
.email-submission-list{
    margin-top:5rem;
    padding-left: 0;

}
.email-recipe-explanation{
    max-width: 60rem;
    padding-bottom: 2rem;
}

/* FONTS */
.font-standard{
    color: var(--theme-font-light);
    font-family: var(--font-standard), sans-serif;
    font-weight:200;
}
.font-highlight{
    color: var(--theme-font-highlight);
    font-family: var(--font-highlight), cursive;
}
.font-bold{
    font-weight: 500;

}

/* LARGE */
@media (max-width: 550px){
    .font-size-large{
        font-size: 2.5rem;
    }
}
@media (min-width: 551px){
    .font-size-large{
        font-size: 3.5rem;
    }
}
/* STANDARD */
@media (max-width: 550px){
    .font-size-standard{
        font-size: 1.5rem;
    }
}
@media (min-width: 551px){
    .font-size-standard{
        font-size: 2rem;
    }
}
/* SMALL */
@media (max-width: 550px){
    .font-size-small{
        font-size: 1.2rem;
    }
}
@media (min-width: 551px){
    .font-size-small{
        font-size: 1.5rem;
    }
}
/* TINY */
@media (max-width: 550px){
    .font-size-tiny{
        font-size: 0.75rem;
    }
}
@media (min-width: 551px){
    .font-size-tiny{
        font-size: 1rem;
    }
}

/* FOOTER */
.footer{
    margin: 5rem 0 2rem;

}
.copyright-text{
    width: 100%;

}

/* FORMS */
.combo-standard{
    width: 15rem;
    background-color: var(--theme-entry-field);
    color: var(--theme-font-highlight);
    font-weight: 500;
}
.combo-wide{
    width: 25rem;
    background-color: var(--theme-entry-field);
    color: var(--theme-font-highlight);
    font-weight: 500;
}
.nav-button{
    padding: 1rem;

}
.submit-button{
    color: black;

}
.text-area-entry{
    width: 50rem;
    height: 10rem;
    background-color: var(--theme-entry-field);
    color: var(--theme-font-highlight);
    font-weight: 500;
    text-align: left;
}
@media (min-width: 1100px){
    /* big screens */
    .text-area-entry-large{
        min-width: 80rem;
        width: 100%;
        height: 30rem;
    }
}
@media (max-width: 1100px) and (min-width: 800px){
    /* small screens */
    .text-area-entry-large{
        width: 50rem;
        height: 40rem;
    }
}
@media (max-width: 800px){
    /* very small screens */
    .text-area-entry-large{
        width: 35rem;
        height: 30rem;
    }
}
.text-area-entry-large{
    background-color: var(--theme-entry-field);
    color: var(--theme-font-highlight);
    font-weight: 500;
    text-align: left;
}
.text-entry-small{
    text-align: left;
    width: 8rem;
    background-color: var(--theme-entry-field);
    color: var(--theme-font-highlight);
    font-weight: 500;
}
.text-entry-standard{
    text-align: left;
    background-color: var(--theme-entry-field);
    color: var(--theme-font-highlight);
    font-weight: 500;
}
@media (min-width: 1100px){
    /* big screens */
    .text-entry-standard{
        width: 45rem;
    }
}
@media (max-width: 1100px) and (min-width: 800px){
    /* small screens */
    .text-entry-standard{
        width: 35rem;
    }
}
@media (max-width: 800px){
    /*  very small screens */
    .text-entry-standard{
        width: 18rem;
    }
}
@media (min-width: 1100px){
    /* big screens */
    .text-entry-long{
        width: 60rem;
    }
}
@media (max-width: 1100px) and (min-width: 800px){
    /* small screens */
    .text-entry-long{
        width: 50rem;
    }
}
@media (max-width: 800px){
    /*  very small screens */
    .text-entry-long{
        width: 35rem;
    }
}
.text-entry-long{
    text-align: left;
    background-color: var(--theme-entry-field);
    color: var(--theme-font-highlight);
    font-weight: 500;
}
.checkbox-entry{
    height: 2rem;
    width: 2rem;
}

/* GENERAL */
.hidden-fields{
    display: none;

}
.centered{
    text-align: center;

}
.flex-parent-horizontal{
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flex-parent-vertical{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* PHOTO */
.recipe-photo{
    width: 100%;
    aspect-ratio: 1 / 1;
    max-height: 50rem;
    border-style: solid;
    border-width: 3px;
    border-color: #000000;
    border-radius: 2rem;
    object-fit: cover;
}
@media (min-width: 1100px){
    .recipe-photo-section-mobile{
        display: none;
    }
    .recipe-photo-section-sidebar{
        /* in full screen mode, use left/right layout, hardcoded to certain percentages of the screen */
        width: 100%;
        display: inline-block;
    }
}
@media (max-width: 1100px){
    .recipe-photo-section-mobile{
        display: inline-block;
    }
    .recipe-photo-section-sidebar{
        /* small mode, hide this version */
        display: none;
    }
}
.recipe-photo-section-sidebar{
    text-align: center;
    padding-bottom: 1rem;
}

/* INGREDIENTS */
@media (min-width: 1100px){
    .ingredients-section{
        /* in full screen mode, use left/right layout, hardcoded to certain percentages of the screen */
        width: 30%;
        position: absolute;
        left: 5%;
        top: 18rem;
    }
}
@media (max-width: 1100px){
    .ingredients-section{
        /* small mode, use full screen width per section */
        width: 90%;
    }
}
.ingredients-section{
    text-align: center;
    display: inline-block;
}
.ingredients-section ul {
    width: 100%;
    text-align: center;
}
.ingredient-row{
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.2rem;
}
.ingredient-name{
    text-align: left;

}
.ingredient-quantity{
    text-align: right;

}
.edit-ingredients-section-left{
    text-align: center;
    display: inline-block;
    max-width: 90%;
    min-width: 40%;
    min-height: 15rem;
    vertical-align: middle;
}
.edit-ingredients-section-right{
    text-align: center;
    display: inline-block;
    max-width: 37%;
    vertical-align: middle;
}
.ingredient-entry-field{
    margin: 1rem;

}
.ingredient-link{
    font-weight:500;

}
.new-ingredient-column-left{
    text-align: right;
    width: 55rem;

}
.new-ingredient-column-mid{
    width: 25rem;
    text-align: left;

}
.new-ingredient-column-right{
    text-align: left;
    width: 55rem;

}
.serving-multiplier-button img{
    display:inline-block;
    height: 2rem;
    width: 2rem;
}
.serving-multiplier-button{
    padding: 0 0.2rem;

}
.serving-multiplier{
    line-height: 3rem;
    height: 3rem;
    display: inline;
    background-color: var(--theme-borders);
    border-radius: 2rem;
    padding: .4rem 1.2rem;
    margin-bottom: 3rem;
    margin-bottom: 5rem;
}
.ingredient-footnotes{
    padding-top: 2rem;
    text-align: left;
}
.ingredient-footnote{
    padding-bottom: .5rem;

}
.ingredient-list-title{
    font-weight: 500;

}

/* INGREDIENT CHECKLIST */
.checked-item{
    text-decoration: line-through;
    opacity: 30%;
}
.checklist-note{
    padding-bottom: 1rem;

}

/* INSTRUCTIONS */
.instructions-section{
    text-align: left;

}
.instructions-section table{
    width: 100%

}
.instruction-number{
    display:inline-block;
    vertical-align: middle;
    text-align:center;
    font-size: 2rem;
    font-weight:700;
    margin-right: 1rem;
    background-color: var(--theme-borders);
    width: 3.1rem;
    height: 3.1rem;
    border-radius: 2rem;
    flex-shrink: 0;
}
.instruction-row{
    list-style-type: none;
    width: 100%;
    display: flex;
    align-content: flex-start;
    align-items: top;
    padding-bottom: 1.4rem;
}
.instruction-text{
    padding-bottom: 0;
    min-width: 85%
}

/* JAVASCRIPT TARGET CLASSES */
.JS-default-hidden{
    /* default class used fields if they should only be visible after a JS event */
    display: none;
}

/* NAV BAR */
.nav-buttons-section{
    position: absolute;
    display: flex;
    left: 1.5rem;
    top: 1rem;
    width: 100%;

}
.nav-bar-button{
    padding: .2rem;

}

/* NUTRITION */
.nutrition-facts-section{
    text-align: center;
    padding-bottom: 5rem;
}
.nutrition-element{
    display: inline-block;
    border-radius: 4rem;
    background-color: var(--theme-borders);
    width: 8rem;
    padding-bottom:2rem;
}
.nutrition-element-edit-display{
    display: inline-block;

}
.nutrition-value{
    text-align: center;
    border-radius: 6rem;
    height: 6rem;
    width: 6rem;
    background-color: var(--theme-background);
    margin: .87rem 1rem 0.5rem .87rem;
    padding: 1.8rem 0;
}
.nutrition-label{
    font-weight: 200;

}
.nutrition-entry-field{
    padding: 1rem;

}
.existing-nutrition-display{
    padding: 2rem;

}
.nutrition-entry-table table {
    width: 100%;
    text-align: center;

}
.nutrition-entry-table-label{
    text-align: right;
    padding-right: 1rem;
    width: 35rem;

}
.nutrition-entry-table-field{
    text-align: left;
    padding-left: 1rem;
    width: 35rem;
}

/* RECIPE PAGE */
@media (min-width: 1100px){
    .recipe-main-area{
        /* in full screen mode, use left/right layout, hardcoded to certain percentages of the screen */
        margin-left: 35%;
    }
}
.recipe-main-area{
    vertical-align: top;
    padding: 0 2rem 2rem;
}
.recipe-sidebar-buttons{
    padding-bottom: 8rem;

}
.page-section-title{
    text-align: center;
    font-weight: 500;
    padding: 2rem 0;
}

/* Tags */
.recipe-tags-section{
    display : flex;
    flex-direction: row;
    justify-content: center;
}
.recipe-tag-element{
    display : flex;
    flex-direction: row;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: var(--theme-borders);
    border-radius: 2rem;
    padding: 0rem .6rem;
    align-items: center;
    margin: 0.1rem;
}
.delete-tag-button{
        padding: 0 .3rem 0 .6rem;
        align-items: center;
}
.tag-editor-section{
    margin-top: 5rem;

}
.tags-page{
    margin-top: 5rem;

}

/* TITLE */
.recipe-title-section{
    text-align: center;
    display: block;
    font-family: var(--font-highlight), cursive;
    padding-bottom: 1rem;
}

/* WIDGETS */
@media (max-width: 700px){
    .widget{
        width: 90%;
    }
}
@media (min-width: 700px){
    .widget{
        width: 60rem;
        min-height: 45rem;
    }
}
.widget{
    display: inline-block;
    margin: 1.5rem;
    vertical-align: top;
}
.widget-title{
    padding-bottom:2rem;

}
.widget-wrapper{
    display : flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.badge-definitions{
    margin:0 auto;

}
@media (max-width: 700px){
    .badge-definitions{
        max-width: 80%;
    }
}
@media (min-width: 700px){
    .badge-definitions{
        max-width: 60%;
    }
}
.search-field-group{
    /* superset of all search fields , for margin work / centering */

}
.search-field-row{
    /* individual row of search fields */
    padding-bottom: 1rem;
    gap: 1rem;
}
.search-field{
    /* individual search field and label */
        padding: 0 .5rem;
}
.search-results{
    margin: auto;
    text-align: center;
    display: inline-block;
}
.search-result{
    text-align: left;
    padding-bottom: .5rem;
}

/* ==================== ELEMENTS ==================== */
ul{
    padding: 0;
    list-style-type: none;
}

.separator{
    margin: 2rem 0;
    border-style: solid;
    border-color: var(--theme-borders);
    color: var(--theme-borders);
    background-color: var(--theme-borders);
}
/* ==================== IDs ==================== */


