<div class="homepage-section">
    <div class="widget-title font-highlight font-size-large">BROWSE CATEGORIES</div>

    <div class="flex-parent-horizontal category-cards">
        {% for card in category_cards: %}
            <div class="category-card">
                <a  href="{{ url_for('search', category=card['CategoryName']) }}">
                    <img src="{{ card['PhotoURL'] }}" alt="recipe photo" class="category-card-image">
                    <div class="category-card-label-wrapper">
                        <div class="category-card-label">
                            <div class="category-card-title font-size-large font-highlight font-bold">
                                {{ card['CategoryName'] }}
                            </div>
                            <div class="category-card-data font-standard font-size-standard font-bold">
                                Browse {{ card['RecipeCount'] }} choices
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>