{% extends "bootstrap/base.html" %}
<!-- specify a title to insert into the 'base' template slot named title -->
{% block title %}
    Home
{% endblock %}

<!-- header data -->
{% include "head_meta.html" %}


<!-- specify html body content to insert into the 'base' template slot named content -->
{% block content %}
        <div class="theme-background"></div>

        <div class="body">

            <!-- Nav Bar -->
            {% include "nav_buttons.html" %}

            <br>

            <h1 class="website-title font-highlight font-size-large">[WEBSITE NAME HERE]</h1>

            <div class="widgets">

                <!-- Category cards -->
                {% include "category_cards.html" %}

                <!-- recent recipes widget -->
                {% include "widget_recent_recipes.html" %}

                <!--  recipe search widget -->
                {% include "widget_site_stats.html" %}

                <!-- Footer-->
                {% include "footer.html" %}
            </div>
        </div>
{% endblock %}