<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
<!-- specify a title to insert into the 'base' template slot named title -->
{% block title %}
Ingredients
{% endblock %}

<!-- header data -->
{% include "head_meta.html" %}


<!-- specify html body content to insert into the 'base' template slot named content -->
{% block content %}
    <div class="theme-background"></div>

    <div class="body">

        <!-- Nav Bar -->
        {% include "nav_buttons.html" %}

        <div class="font-standard font-size-standard centered checklist-page-title">Check off items as you shop, or copy the whole list to your  clipboard to easily paste into your preferred grocery list app!</div>

        <ul class="ingredient-checklist">
            {% for item in items: %}
                <li class="checklist-row">
                    <!-- name and preparation -->
                    <div class="checklist-item font-standard font-size-standard"
                         id="{{ item['details'] }}"
                         onclick="itemClicked('{{ item['details'] }}')">
                        {{ item['details'] }}
                    </div>
                </li>
            {% endfor %}
        </ul>

        <!-- copy to clipboard button -->
        <span class="centered">
            <div role="button" onclick="copyIngredientsToClipboard()" class="btn-warning btn">Copy to my clipboard</div>
        </span>

        <!-- Footer-->
        {% include "footer.html" %}
    </div>


    <!-- JS scripts -->
    <script>
        function itemClicked(itemID){
            var clickedItem = document.getElementById(itemID);
            if(clickedItem.classList.contains("checked-item"))
                clickedItem.classList.remove("checked-item");
            else
                clickedItem.classList.add("checked-item");
        }

        function copyIngredientsToClipboard(){
            var items = document.getElementsByClassName("checklist-item");
            var copiedText = "";
            var iterations = items.length;
            for (var i = 0; i < iterations; i++) {
                copiedText += items[i].textContent;
            }

            // Copy the text inside the text field
            navigator.clipboard.writeText(copiedText);

            // Alert the copied text
            alert("Copied the text: " + copiedText);
        }

    </script>




{% endblock %}