<div class="nav-buttons-section">
    {% if nav_controls['home'] == True %}
        <div class="nav-bar-button font-standard">
            <a class="btn btn-success" href="{{ url_for('home') }}" role="button">Home</a>
        </div>
    {% endif %}
    {% if nav_controls['search'] == True %}
        <div class="nav-bar-button font-standard">
            <a class="btn btn-primary" href="{{ url_for('search') }}" role="button">Find a Recipe</a>
        </div>
    {% endif %}
    {% if nav_controls['recipe'] == True and nav_controls['recipeID'] | int != 0 %}
        <div class="nav-bar-button font-standard">
            <a class="btn btn-info" href="{{ url_for('recipe', recipe_id=nav_controls['recipeID']) }}" role="button">Back to Recipe</a>
        </div>
    {% endif %}
</div>