<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
<!-- specify a title to insert into the 'base' template slot named title -->
{% block title %}
Recipe
{% endblock %}

<!-- header data -->
{% include "head_meta.html" %}


<!-- specify html body content to insert into the 'base' template slot named content -->
{% block content %}
        <div class="theme-background"></div>

        <!-- Nav Bar -->
        {% include "nav_buttons.html" %}

        <div class="body">

            <!-- Title -->
            {% include "recipe_title.html" %}

            <!-- Ingredients (Desktop) -->
            <div class="ingredient-section-desktop desktop-only">
                {% include "recipe_ingredients.html" %}
            </div>

            <!-- Recipe Photo (mobile) -->
            <div class="mobile-only">
                {% include "recipe_photo.html" %}
            </div>

            <!-- Nutrition Facts -->
            {% include "recipe_nutrition_facts.html" %}

            <!-- Ingredients (mobile) -->
            <div class="ingredient-section-mobile mobile-only">
                {% include "recipe_ingredients.html" %}
            </div>

            <!-- Instructions  -->
            {% include "recipe_instructions.html" %}

            <!-- Tags -->
            {% include "recipe_tags.html" %}

            <!-- Footer-->
            {% include "footer.html" %}

        </div>

{% endblock %}