<div class="ingredients-section font-standard font-size-standard theme-border">

    <div class="page-section-title"> - Ingredients - </div>

    <div class="serving-multiplier black-border">
        Servings:
        <span class="serving-multiplier-button">
            <img src="../static/assets/ico/buttons/minus-icon.png" role="button" onclick="decreaseServingsClicked()">
        </span>
        <span class="JS-recipe-servings">{{ recipe_header[0]['Servings'] }}</span>
        <span class="serving-multiplier-button">
            <img src="../static/assets/ico/buttons/plus-icon.png" role="button" onclick="increaseServingsClicked()">
        </span>
    </div>

    <ul>
        {% for ingredient in ingredients: %}
            <li class="ingredient-row">
                <!-- name and preparation -->
                <div class="ingredient-name">
                    {{ ingredient['IngredientName'] }}
                    {% if ingredient['Prep'] | length > 0 %}
                        , {{ ingredient['Prep'] }}
                    {% endif %}
                </div>
                <!-- quantity and units -->
                <div class="ingredient-quantity">
                    <span class="JS-ingredient-quantity">
                        {{ ingredient['Quantity'] }}
                    </span>
                    {{ ingredient['Units'] }}
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="font-size-tiny centered">
        <a href="{{ url_for('edit_ingredients', recipe_id=recipe_id, ingredient_id=-1) }}" class="JS-edit-button JS-default-hidden">[Edit]</a>
    </div>
</div>

<!-- JS scripts -->
<script>

    function increaseServingsClicked(){
        var currentServingsNode = document.getElementsByClassName("JS-recipe-servings")[0];
        var currentServings = Number(currentServingsNode.textContent);
        var newServings = currentServings + 1;
        updateIngredientQuantities(currentServings, newServings);
        currentServingsNode.textContent = newServings;
    }

    function decreaseServingsClicked(){
        var currentServingsNode = document.getElementsByClassName("JS-recipe-servings")[0];
        var currentServings = Number(currentServingsNode.textContent);
        var newServings = currentServings;
        if (currentServings > 1)
            newServings = currentServings - 1;
        updateIngredientQuantities(currentServings, newServings);
        currentServingsNode.textContent = newServings;
    }

    function updateIngredientQuantities(currentServings, newServings){
        var ingredientQuantities = document.getElementsByClassName("JS-ingredient-quantity");
        var iterations = ingredientQuantities.length;
        for (var i = 0; i < iterations; i++) {
            var currentQuantity = Number(ingredientQuantities[i].textContent);
            var newQuantity = currentQuantity / currentServings * newServings;
            ingredientQuantities[i].textContent = newQuantity;
        }
    }

</script>
