<div class="instructions-section font-standard font-size-standard">
    <div class="page-section-title">- Instructions -</div>
    <table>
        {% for step in recipe_instructions: %}
            <tr class="instruction-row">
                <td class="instruction-number black-border">{{ step['StepNumber'] }}</td>
                <td class="instruction-text">{{ step['StepText'] }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="font-size-tiny centered">
        <a href="{{ url_for('edit_instructions', recipe_id=recipe_id, instruction_id=-1, banner_message='') }}">[Edit]</a>
    </div>
</div>
