<div class="recipe-title-section font-highlight">

    <!-- TITLE INFO -->

    <div class="font-size-large recipe-main-title">{{ recipe_header['RecipeName'] }}</div>
    <div class="font-size-standard font-standard">Cook time: {{ recipe_header['CookingTime'] }}m  |  Servings: {{ recipe_header['Servings'] }}</div>

    <!-- EDITOR ELEMENTS -->

    {% if nav_controls['edit'] == True %}
        <br>
        <div class="font-size-standard font-standard"> ID: {{ recipe_id }}</div>
        <br>
        <div class="font-size-tiny">
            <a href="{{ url_for('edit_header', recipe_id=recipe_id, banner_message='') }}">[Edit Title]</a>
        </div>
    {% endif %}

    <!-- BADGES -->

    {% if badges|length != 0 %}
        <div class="badges">
            {% for badge in badges: %}
                <div class="badge-tile">
                    <div class="badge-image black-border">
                        <img src="../static/assets/ico/badges/{{ badge['BadgeIconAddress'] }}.png" alt="{{ badge['BadgeName'] }}" title="{{ badge['BadgeName'] }}">
                    </div>
                    <div class="badge-subtitle font-standard font-size-small">
                        {{ badge['BadgeName'] }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

</div>