<div class="recipe-main-area instructions-section font-standard font-size-standard">
    <div class="page-section-title font-size-subtitle">- Instructions -</div>
    <ul>
        {% for step in recipe_instructions: %}
            <li class="instruction-row">
                <div class="instruction-number black-border">{{ step['StepNumber'] }}</div>
                <div class="instruction-text  {{ 'JS-step-' + step['StepNumber']|string }}"
                     onclick="itemClicked('{{ 'JS-step-' + step['StepNumber']|string }}')">
                    {{ step['StepText'] }}
                </div>
            </li>
        {% endfor %}
    </ul>
    {% if nav_controls['edit'] == True %}
        <div class="font-size-tiny centered">
            <a href="{{ url_for('edit_instructions', recipe_id=recipe_id, instruction_id=-1, banner_message='') }}">[Edit Instructions]</a>
        </div>
    {% endif %}
</div>

<!-- JS scripts -->
<script>
    function itemClicked(itemID){
        var clickedItemArray = document.getElementsByClassName(itemID);
        var iterations = clickedItemArray.length;
        for (var i = 0; i < iterations; i++) {
            var clickedItem = clickedItemArray[i];
            if(clickedItem.classList.contains("checked-item"))
                clickedItem.classList.remove("checked-item");
            else
                clickedItem.classList.add("checked-item");
        }
    }
</script>
