<div class="recipe-main-area nutrition-facts-section font-standard font-size-standard">
    {% if nutrition_facts | length > 0  or nav_controls['edit'] == True %}
        <div class="page-section-title font-size-subtitle">- Nutrition per Serving -</div>
        {% for fact in nutrition_facts: %}
            <div class="nutrition-element black-border">
                <div class="nutrition-value black-border font-size-small">
                    {{ fact['NutritionValue'] }}{{ fact['Units'] }}
                </div>
                <div class="font-size-small">
                    {{ fact['ElementName'] }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if nav_controls['edit'] == True %}
        <div class="font-size-tiny centered">
            <a href="{{ url_for('edit_nutrition', recipe_id=recipe_id, nutrition_id=-1) }}">[Edit Nutrition]</a>
        </div>
    {% endif %}
</div>