<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
<!-- specify a title to insert into the 'base' template slot named title -->
{% block title %}
Recipe
{% endblock %}

<!-- header data -->
{% include "head_meta.html" %}


<!-- specify html body content to insert into the 'base' template slot named content -->
{% block content %}
        <div class="theme-background"></div>

        <div class="body">

            <!-- Nav Bar -->
            {% include "nav_buttons.html" %}

            <!-- Title Content -->
            {% include "recipe_title.html" %}

            <!-- Recipe Photo -->
            {% include "recipe_photo.html" %}

            <!-- Instructions Content -->
            {% include "recipe_nutrition_facts.html" %}

            <!-- page title zone -->
            {% include "recipe_ingredients.html" %}

            <!-- Instructions Content -->
            {% include "recipe_instructions.html" %}

            <!-- Recipe Tag Content -->
            {% include "recipe_tags.html" %}

            <!-- Footer-->
            {% include "footer.html" %}

        </div>

{% endblock %}