<div class="ingredients-section font-standard font-size-standard">

    <!-- SIDEBAR PHOTO -->
    <div class="desktop-only">
        <div class="recipe-photo-container font-standard font-size-standard">
            <img src="{{ recipe_header['PhotoURL'] }}" alt="recipe photo" class="recipe-photo">
        </div>
    </div>
    <!-- INGREDIENT SECTION -->

    <div class="background-secondary-color black-border-rounded JS-ingredient-list">
        <ul>
            <!-- TITLE / MULTIPLIER -->
            <li class="ingredient-row">
                <div class="ingredient-name font-bold font-highlight font-size-subtitle">
                    Ingredients
                </div>
                <div class="ingredient-quantity">
                    <div class="serving-multiplier">
                        <div class="serving-multiplier-component">
                            Servings:
                        </div>
                        <div class="serving-multiplier-component">
                            <span class="serving-multiplier-button">
                                <img src="../static/assets/ico/buttons/minus-icon.png" role="button" onclick="decreaseServingsClicked()">
                            </span>
                            <span class="JS-recipe-servings">{{ recipe_header['Servings'] }}</span>
                            <span class="serving-multiplier-button">
                                <img src="../static/assets/ico/buttons/plus-icon.png" role="button" onclick="increaseServingsClicked()">
                            </span>
                        </div>
                    </div>
                </div>
            </li>

            <!-- DIVIDING LINE -->

            <hr class="separator">

            <!-- INGREDIENT LIST -->

            {% for ingredient in ingredients: %}
                <li class="ingredient-row checklist-item {{ 'JS-ingredient-' + ingredient['IngredientName'].replace(' ', '') }}"
                             onclick="itemClicked('{{ 'JS-ingredient-' + ingredient['IngredientName'].replace(' ', '') }}')">
                    <!-- name and preparation -->
                    <div class="ingredient-name">
                        <!-- if this ingredient is its own recipe, create a link -->
                        {% if ingredient['RelatedRecipeID']  %}
                            <a href="{{ url_for('recipe', recipe_id=ingredient['RelatedRecipeID']) }}" class="ingredient-link">
                                <span class="JS-copy-element">{{ ingredient['IngredientName'] }}{% if ingredient['FootNote'] %}*{% endif %}</span>
                            </a>
                        {% else %}
                        <span class="JS-copy-element">{{ ingredient['IngredientName'] }}{% if ingredient['FootNote'] %}*{% endif %}</span>{% endif %}{% if ingredient['Prep'] | length > 0 %}, {{ ingredient['Prep'] }}{% endif %}
                    </div>
                    <!-- quantity and units -->
                    {% if ingredient['Quantity'] > 0 %}
                        <div class="ingredient-quantity">
                            <span class="JS-ingredient-quantity JS-copy-element">
                                {{ ingredient['Quantity'] }}
                            </span>
                            <span class="JS-copy-element">{{ ingredient['Units'] }}</span>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <!-- edit button -->
        {% if nav_controls['edit'] == True %}
            <div class="font-size-tiny centered font-standard">
                <a href="{{ url_for('edit_ingredients', recipe_id=recipe_id, ingredient_id=-1) }}">[Edit Ingredients]</a>
            </div>
        {% endif %}
        <div class="ingredient-footnotes font-size-small">
            {% for ingredient in ingredients: %}
                {% if ingredient['FootNote'] %}
                    <div class="ingredient-footnote">* {{ ingredient['FootNote'] }}</div>
                {% endif %}
            {% endfor %}
        </div>


        <!-- dividing line -->
        <hr class="separator">

        <!-- clipboard message -->
        <div class="font-standard font-size-small centered checklist-note">
            Click on items to check them off as you shop, or copy the whole list to your clipboard to easily paste into your preferred grocery list app!
        </div>
        <!-- copy to clipboard button -->
        <span class="centered">
            <div role="button" onclick="copyIngredientsToClipboard()" class="btn-warning btn">Copy to my clipboard</div>
        </span>

    </div>
</div>

<!-- JS scripts -->
<script>

    function increaseServingsClicked(){
        var currentServingsNodes = document.getElementsByClassName("JS-recipe-servings");
        var currentServings = Number(currentServingsNodes[0].textContent);
        var newServings = currentServings + 1;
        updateIngredientQuantities(currentServings, newServings);
        currentServingsNodes[0].textContent = newServings;
        currentServingsNodes[1].textContent = newServings;
    }

    function decreaseServingsClicked(){
        var currentServingsNodes = document.getElementsByClassName("JS-recipe-servings");
        var currentServings = Number(currentServingsNodes[0].textContent);
        var newServings = currentServings;
        if (currentServings > 1)
            newServings = currentServings - 1;
        updateIngredientQuantities(currentServings, newServings);
        currentServingsNodes[0].textContent = newServings;
        currentServingsNodes[1].textContent = newServings;
    }

    function updateIngredientQuantities(currentServings, newServings){
        var ingredientQuantities = document.getElementsByClassName("JS-ingredient-quantity");
        var iterations = ingredientQuantities.length;
        for (var i = 0; i < iterations; i++) {
            var currentQuantity = Number(ingredientQuantities[i].textContent);
            var newQuantity = currentQuantity / currentServings * newServings;
            // round to 3 places
            newQuantity = Math.round((newQuantity + Number.EPSILON) * 1000) / 1000;
            ingredientQuantities[i].textContent = newQuantity;
        }
    }

    function itemClicked(itemID){
        var clickedItemArray = document.getElementsByClassName(itemID);
        var iterations = clickedItemArray.length;
        for (var i = 0; i < iterations; i++) {
            var clickedItem = clickedItemArray[i];
            if(clickedItem.classList.contains("checked-item"))
                clickedItem.classList.remove("checked-item");
            else
                clickedItem.classList.add("checked-item");
        }
    }

    function copyIngredientsToClipboard(){
    // there are two copies of the ingredient list in the dom, so only pull ingredients from the first copy.
        var items = document.getElementsByClassName("JS-ingredient-list")[0].getElementsByClassName("checklist-item");
        var copiedText = "";
        var iterations = items.length;
        for (var i = 0; i < iterations; i++) {
            var textElements = items[i].getElementsByClassName("JS-copy-element");
            //ingredient name
            var ingredientName = textElements[0].textContent.trim();
            copiedText += ingredientName.replace('*', '');

            if( ingredientName != 'Salt' && ingredientName != 'Sea Salt' && ingredientName != 'Black Pepper' & textElements.length > 1){
                //ingredient quantity
                copiedText += ' - ' + textElements[1].textContent.trim() + ' ';
                if(textElements.length > 2){
                    //ingredient units
                    copiedText += textElements[2].textContent.trim();
                }
            }
           copiedText += '\n';
        }

        // Copy the text inside the text field
        navigator.clipboard.writeText(copiedText);

        // Alert the copied text
        alert("Copied the following text to your clipboard: \n\n" + copiedText);
    }

</script>
