<div class="widget search-recipes-section theme-border">
    <div class="widget-wrapper">
        <div>
            <div class="widget-title font-highlight font-size-large">SEARCH FOR A RECIPE</div>

            <form method="POST" action="{{ url_for('home') }}" novalidate>
                <div class="search-table">
                    <table class="font-size-standard font-standard">
                        <tr class="search-widget-row">
                            <td class="search-table-data-label">{{ search_form.recipe_type.label }}:</td>
                            <td class="search-table-data-value">{{ search_form.recipe_type(class="combo-standard") }}</td>
                        </tr>
                        <tr class="search-widget-row">
                            <td class="search-table-data-label">{{ search_form.search_term.label }}:</td>
                            <td class="search-table-data-value">{{ search_form.search_term(class="text-entry-standard") }}</td>
                        </tr>
                        <tr class="search-widget-row">
                            <td class="search-table-data-label">{{ search_form.vegetarian.label }}:{{ search_form.vegetarian(class="checkbox-entry ingredient-entry-field") }}</td>
                            <td class="search-table-data-value">{{ search_form.low_fat.label }}:{{ search_form.low_fat(class="checkbox-entry ingredient-entry-field") }}</td>
                        </tr>
                        <tr class="search-widget-row">
                            <td class="search-table-data-label">{{ search_form.low_calorie.label }}:{{ search_form.low_calorie(class="checkbox-entry ingredient-entry-field") }}</td>
                            <td class="search-table-data-value">{{ search_form.quick_meal.label }}:{{ search_form.quick_meal(class="checkbox-entry ingredient-entry-field") }}</td>
                        </tr>
                        <tr class="search-widget-row">
                            <td class="search-table-data-label">{{ search_form.recipe_ingredient.label }}:</td>
                            <td class="search-table-data-value">{{ search_form.recipe_ingredient(class="combo-standard") }}</td>
                        </tr>
                        <tr class="search-widget-row">
                            <td class="search-table-data-label">{{ search_form.random.label }}:</td>
                            <td class="search-table-data-value">{{ search_form.random(class="checkbox-entry ingredient-entry-field") }}</td>

                        </tr>
                    </table>
                    <div class="font-standard font-size-standard">{{ message }}</div>
                    <div class="nav-button">
                        {{ search_form.submit(class="btn btn-warning submit-button font-standard") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>





